/* box sizing: http://www.paulirish.com/2012/box-sizing-border-box-ftw */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* http://snook.ca/archives/html_and_css/font-size-with-rem */
    color: #111;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

    /* sticky footer */
    position: relative;
    min-height: 100%;
}

body {
    /* Default font-size */
    font-size: 1.6rem;

    /* sticky footer - match footer height */
    margin-bottom: 60px;
}

section#main {
    max-width: 600px;
    width: 100%;
    margin: 20px;
}

footer {
    text-align: center;
    background-color: #eee;

    /* sticky footer */
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px; /* Vertically center the text */
}

/*----------------------------------------------------
Bootstrap overrides
-----------------------------------------------------*/
a:link, a:visited, a:active, a:hover {
    text-decoration: underline;
}

.btn {
    font-size: 1.5rem;
}

.alert {
    margin-top: 20px;
}

.errors ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

/*----------------------------------------------------
Forms
-----------------------------------------------------*/
label {
    font-weight: bold;
    display: block;
    font-size: 1.4rem;
}

input[type='radio'], input[type='checkbox'] {
    margin-right: 0;
    /* Next two lines prevent misalignment with text */
    vertical-align: middle;
    margin-top: -3px;
}

fieldset {
    margin-bottom: 20px;
}

input[type=text] {
    display: block;
    font-family: Consolas, Courier, monospace;
}

.instructions {
    color:grey;
    font-size:10px;
    margin-bottom:10px;
}

